*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    
}

/* shared-style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
    
}
.color-orange{
    color:#FD6E0A
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding:18px 35px;
    color:#FFF8F3;
    font:20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color:#757575;
    line-height: 30px;
}


/* main-style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}
nav{
    width : 71%;
    max-width: 1140px;
    height: 65px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font:20px;
    color: #474747;
    text-decoration: none;
}

/* banner styles */
#banner{
    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .content{
    max-width: 585px;
}

#banner .content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
#banner .content h1{
    font-size:85px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;

}
#banner .content p{
    font-size: 18px;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .images img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding-top: 130px;;
}

#about .container{
    width:71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}

#about .container .about-info{
    display: flex;
    justify-content: space-around;
   /* align-items: center; */
}

.about-info .card-info p{
    font-size: 20px;
    line-height: 30px;
    color:#757575;
}
.about-info .card-info h4{
    font-size: 20px;
}